@charset "utf-8";

body{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #FFAA2A;
}
a{
	text-decoration: none;
	color: rgb(28, 29, 31);
}
h1{
	margin: 50px 0px 10px 0px;
	width: 300px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border-radius: 30px;
	
	color: #fff;
	background: #499B53
}
h1:hover{
	color: #9FAA2B;
	background: #006572;
}
h4{
	margin: 5px 0px 5px 0px;
	font-size: 20px;
	color: #008270;
}
h5{
	margin: 10px 0px 0px 0px;
	width: 480px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
	color: #4d4d4d;
	background: rgb(255, 188, 72);
}
h5 a{
	color: #4690e6;
}
h6{
	margin: 2px 0 40px 0;
}
#BoardArea {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	width: 800px;
	height: auto;
	position: relative;

	margin-bottom: 150px;
}
.ListTable{
	background-color: #ffe5bd;
	padding: 10px;
	border-top: 3px solid #008270;
	border-bottom: 5px solid #008270;
	border-radius: 10px;
}
.ListTable thead th{
	height:40px;
	background-color: #ffc56e;
	border-bottom:2.5px solid #9FAA2B;
	font-weight: bold;
	font-size: 17px;
	border-radius: 2px;
}
.ListTable tbody td{
	text-align:center;
	padding:10px 0;
	border-bottom:1px solid #9FAA2B; height:20px;
	font-size: 14px
}
#writer_btn button,#bt_se button,#bo_ser ul button{
	border-radius: 10px;
	border: none;
	width: 80px;
	height: 40px;
	margin: 20px 5px 20px 5px;
	font-size: 18.5px;
	font-weight: bold;
	background: #008270;
	color: #fff;
}
#writer_btn button:hover,#bt_se button:hover,#bo_ser ul button:hover{
	color: #9FAA2B;
	background: #006572;
}
footer{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	justify-content: center;
	background-color: #2F4858;
	position: fixed;
	bottom: 0;
}
footer a{
	display: flex;
	width: 350px;
	height: 150px;
	justify-content: space-around;
	align-items: center;
}
footer a button{
	display: flex;
	width: 300px;
	height: 130px;
	flex-direction: row;
	align-items: center;
	border: none;
	border-radius: 10px;
	justify-content: space-around;
	background-color: #414e57;
	color: #fff;
}

/* 글 쓰기, 수정 스타일 */
#board_write, #board_read{
	display: flex;
	flex-direction: column;
	align-items: center;
	
	width: 800px;
	height: auto;
	position: relative;

	margin-bottom: 150px;
}
#write_area{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
	width: 800px;

	margin-bottom: 150px;
	background: #ffe5bd;
	padding: 10px;
	border-top: 3px solid #008270;
	border-bottom: 5px solid #008270;
	border-radius: 10px;
}
#AR_top{
	display: flex;
	flex-direction: row;
}
#in_name{
	display: flex;
	justify-content: end;
}
.wi_line{
	border: solid 1px lightgray;
	margin: 5px 0px 5px 0px;
}
#bt_se, #bo_ser ul{
	display: flex;
	justify-content: center;
}

#in_title textarea,#title_coll{
	font-weight: bold;
	font-size: 25px;
	background: #ffe5bd;
	color: #333;
	width: 650px;
	border: none;
	resize: none;

	margin-left: 10px;
}
select, #fill_coll{
	font-size: 20px;
	background: #ffe5bd;
	color: #333;
	width: 100px;
	text-align: center;
	border: none;

	margin-left: 20px;
	margin-top: 10px;
}
#in_name textarea{
	font-weight: bold;
	font-size: 18px;
	background: #ffe5bd;
	color: #333;
	width: 200px;
	border: none;
	resize: none;
	margin: 3px 12px 0px 0px;
}
#in_content{
	display: flex;
	justify-content: center;

	margin: 10px 0px 10px 0px;
}
#in_content textarea,#bo_content{
	font-weight: bold;
	font: 17px;
	background: #ffefd7;
	color: #333;
	width: 760px;
	height: 300px;
	border: none;
	resize: none;
	padding: 10px;
	border-radius: 5px;
}
#in_pw input{
	font-weight: bold;
	font: 18px;
	background: #ffefd7;
	color: #333;
	width: 200px;
	height: 25px;
	line-height: 25px;
	border: none;
	resize: none;
	margin-left: 7px;
}

#Locker{
	margin: 7px 0 0 10px;
}

/* 글 읽기 스타일 */
h2{
	display: flex;
	align-items: flex-end;
	margin:20px 0px 0px 0px;
}
#read_area{
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	width: 800px;

	margin-bottom: 150px;
	background: #ffe5bd;
	padding: 10px;
	border-top: 3px solid #008270;
	border-bottom: 5px solid #008270;
	border-radius: 10px;
}
#user_info{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background: #ffe5bd;
	color: #333;

	font-weight: bold;
	font-size: 18px;
	width: auto;
	border: none;
	resize: none;
	margin: 3px 12px 20px 0px;
}
#bo_content{
	margin: 0px 7px 0px 7px;
}

/* 페이징 CSS */
#page_num {
	font-size: 14px;
	margin-top:30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 350px;
}
#page_F, #page_E {
	text-align: center;
}
#page_C {
	width: 150px;
	display: flex;
	justify-content: space-between;
}
.FGboldRED {
	font-weight: bold;
	color:red;
}

/* 댓글 */
.reply_view {
	width:800px;
	margin-top:20px; 
	word-break:break-all;
	background-color: #ffe5bd;
}
.dap_lo {
	width:800px;
	font-size: 14px;
	padding:10px 0 15px 0;
	border-bottom: solid 1px gray;
}
.dap_to {
	margin-top:5px;
}
.rep_me {
	font-size:12px;
}
.rep_me ul li {
	float:left;
	width: 30px;
}
.dat_delete {
	display: none;
}	
.dat_edit {
	display:none;
}
.dap_sm {
	position: absolute;
	top: 10px;
}
.dap_edit_t{
	width:500px;
	height:70px;
	position: absolute;
	top: 40px;
}
.re_mo_bt {
	position: absolute;
	top:40px;
	right: 5px;
	width: 90px;
	height: 72px;
}
#re_content {
	width:700px;
	height: 56px; 
}
.dap_ins {
	margin-top:50px;
}
.re_bt {
	position: absolute;
	width:100px;
	height:56px;
	font-size:16px;
	margin-left: 10px; 
}
#foot_box {
	height: 50px; 
}